/* 

-------------------------------------------------------------

MODAL

*/

.modal {
	@include transition(all 0.75s $easeOutQuint);
	position:fixed;
	height:100%;
	width:100%;
	background:rgba(238,238,237,0.98);
	z-index:200;
	opacity:0;
	visibility:hidden;
	overflow:auto;
}

.modal-active {
	opacity:1;
	visibility:visible;
}
